@using KompaniInfo.Components
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<title>KompaniInfo</title>
	<style>
		body {
			margin: auto;
			width: 80%;
			padding: 45px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1 style="font-size:60px;">KompaniInfo</h1>
			@if (User.Identity.IsAuthenticated)
			{ 
				<nav class="lead">
					<a href="/">Start</a> @await Component.InvokeAsync(nameof(SidaNavigering))
				</nav>
			}
		</div>
		@RenderBody()
		@if (User.Identity.IsAuthenticated)
		{
			<div style="margin-top: 20px;">
				<a href="/Login/Logout">Logga ut</a>
				@if (User.HasClaim(t => t.Type == System.Security.Claims.ClaimTypes.Role && t.Value == "Admin"))
				{

					<a href="/Post/Skapa">Skapa ny post</a>
					<a href="/Sida/Skapa">Skapa ny sida</a>
				}
			</div>
		}
	</div>

	@RenderSection("scripts", required: false)
</body>
</html>