<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<title>KompaniInfo</title>
	<style>
		a {
			color: blue;
			text-decoration: none;
		}

		body {
			margin: auto;
			width: 60%;
			padding: 45px;
			font-size: 1.4em;
			font-family: Times, serif;
		}

		h1, h2, h3, h4 {
			font-family: Verdana, sans-serif;
		}

		a h1 {
			color: black;
		}

		nav a {
			font-family: Verdana, sans-serif;
		}

		.title {
			font-size: 3em;
		}
	</style>
</head>
<body>
	<a href="/"><h1 class="title">KompaniInfo</h1></a>
	@if (User.Identity.IsAuthenticated)
	{
	<nav>
		<a href="/">Start</a>
	</nav>
	}
	<div>
		@RenderBody()	   
	</div>
  @if (User.Identity.IsAuthenticated)
  {
    <div>
      <a href="/Login/Logout">Logga ut</a>
      @if (User.HasClaim(t => t.Type == System.Security.Claims.ClaimTypes.Role && t.Value == "Admin"))
      {
         <a href="/Post/Skapa">Skapa ny post</a>
      }
    </div>
  }
	@RenderSection("scripts", required: false)
</body>
</html>