@model KompaniInfo.ViewModels.VMPost

<label asp-for="Rubrik"></label>
<span asp-validation-for="Rubrik" class="text-danger"></span><br />
<input asp-for="Rubrik" class="form-control" />

<label asp-for="Innehall"></label>
<span asp-validation-for="Innehall" class="text-danger"></span><br />
<textarea asp-for="Innehall" class="form-control" style="width: 700px; height:200px; margin-bottom: 25px;"></textarea>

<div role="group">
  <span asp-validation-for="Fil" class="text-danger"></span>
  <input asp-for="Fil" style="margin-bottom: 25px; margin-right: 20px; display: inline; float:left;"/>
	<button name="btn" class="btn btn-info" value="LaddaUppBild" type="submit">Ladda upp bild</button>
</div>
<br />
<div class="btn-group">
	<button name="btn" class="btn btn-primary" value="Spara" type="submit">Spara</button>
</div>