@using KompaniInfo.ViewModels
@model VMPost


<div class="post" style="margin-bottom: 120px;">
	<p>
		<h1 style="display: inline">@Html.RouteLink(Model.Rubrik, "poster", new { Id = Model.Id })</h1> <small>@Model.Datum.ToString("yyyy-MM-dd")</small> <br />
	</p>
	<p>
		@Html.Raw(Model.Innehall.Markdown())
	</p>
	<hr style="width: 90%;" />
</div>
