@model KompaniInfo.Models.Sida
@{
	ViewData["Title"] = "Ändra";
}

<h2>Ändra sida</h2>
<div class="row">
	<div class="col-md-8">
		<div class="input-group">
			<form asp-action="Andra" enctype="multipart/form-data">
				@Html.Partial("UpsertSida")
			</form>
		</div>
	</div>
	@Html.Partial("MarkDownSyntax");
</div>


