@using KompaniInfo.ViewModels
@model KompaniInfo.Models.Sida
	
<div class="post" style="margin-bottom: 120px;">
	<p>
		<h1>@Model.Namn</h1>
	</p>
	<p>
		@Html.Raw(Model.Innehall.Markdown())
	</p>
	<hr style="width: 90%;" />
@if (User.Identity.IsAuthenticated && User.HasClaim(t => t.Type == System.Security.Claims.ClaimTypes.Role && t.Value == "Admin"))
{
	<div>
		@Html.ActionLink("Ändra", "Andra", "Sida", new { id = Model.Id })
		@Html.ActionLink("Ta bort", "TaBort", "Sida", new { id = Model.Id },
			new { onclick = "return confirm('Är du säker att du vill ta bort den här sidan?');" })
	</div>
}
</div>