@model KompaniInfo.ViewModels.VMPost

@{
	ViewData["Title"] = "Ändra";
}

<h2>Ändra post</h2>
<div class="row">
	<div class="col-md-8">
		<div class="input-group">
			<form asp-action="Andra" enctype="multipart/form-data">
				@Html.Partial("UpsertPost")
			</form>
		</div>
	</div>
	@Html.Partial("MarkDownSyntax")
</div>