@model KompaniInfo.ViewModels.VMPost

@{
	ViewData["Title"] = "Skapa";
}
<h2>Skapa post</h2>

<div class="row">
	<div class="col-md-8">
		<div class="input-group">
			<form asp-action="Skapa" enctype="multipart/form-data">
				@Html.Partial("UpsertPost")
			</form>
		</div>
	</div>
	@Html.Partial("MarkDownSyntax")
</div>


