@model KompaniInfo.Models.Post

@{
    ViewData["Title"] = "Skapa";
}

<h2>Skapa post</h2>

<form asp-action="Skapa">
	<textarea name="text" rows="15" cols="120"></textarea>
        <input type="submit" value="Skapa"/>
</form>

