@model KompaniInfo.ViewModels.VMIndex
	
<table style="width: 100%">
	<tr>
		<td style="width: 80%">
			@Html.DisplayFor(m => m.Poster)
		</td>
		<td style="width: 20%; vertical-align: top">
			@Html.DisplayFor(m => m.Rubriker)
		</td>
	</tr>
</table>
