@model KompaniInfo.ViewModels.VMIndex

<div class="row">
	<div class="col-sm-8">
		@Html.DisplayFor(m => m.Poster)
	</div>
	<div class="col-sm-3 col-sm-offset-1">
		<ol style="padding-left:0px; list-style: none;">
			@Html.DisplayFor(m => m.Rubriker)
		</ol>
	</div>
</div>